################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ReflectorTest/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/ReflectorTest/obj/Debug/ReflectorTest.csprojAssemblyReference.cache
/ReflectorTest/obj/Debug/ReflectorTest.csproj.FileListAbsolute.txt
/ReflectorTest/obj/Debug/ReflectorTest.csproj.CoreCompileInputs.cache
/ReflectorTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ReflectorTest/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/Reflector.sln.DotSettings.user
/Reflector/Reflector.csproj.user
/Reflector/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Reflector/obj/Debug/Reflector.csprojAssemblyReference.cache
/Reflector/obj/Debug/Reflector.csproj.FileListAbsolute.txt
/Reflector/obj/Debug/Reflector.csproj.CoreCompileInputs.cache
/Reflector/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Reflector/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Reflector/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/.vs/Reflector/v16/.suo
